body {
    background: black;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    font: white;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid black;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: white;
    font: black;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: white;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    font: black;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}
.singleMessage{
    padding: 4px;
    margin: 4px;
    border: 4px;
    border: solid;
    border-radius: 10px;
    background-color: white;
    font: white;
    display: flex;
    justify-content: space-around;

}
.newFriend {
    color: #fff;
    background-color: black;
    font: white;
    display: flex;
    justify-content: space-around;

}

.text {
    font: black;
}

.username:hover {
    cursor: pointer;
}

.refresh {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.title {
    text-align: center;

}
.username {
    font: white;
}